body {
    .hero {
    position: relative;
    left: 0;
    top: -80px;
    .wrapper {
      width: 100%;
      height: 100vh;
      .slick {
        .slick-item {
          overflow: hidden;
          img{
            margin: 0 auto;
            width: 100%;
          }
        }
      }

      .breakers {
        pointer-events: none;
        background-image: url("../img/breaker_1.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        top: -210px;
        height: 310px;
        p {
          font-size: 24px;
          color: white;
          position: absolute;
          top: 70px;
          left: 100px;
          line-height: 35px;
        }
        h1 {
          font-size: 30px;
          color: #19276D;
          position: absolute;
          right: 100px;
          top: 140px;
        }
      }
    }
  }
}
