body {
    .hero {
    /* Flexbox stuff */
    // display: flex;
    // justify-content: center;
    // align-items: center;

    /* Background styles */
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;

    // position: relative;
    // left: 0;
    // top: 0;
    // z-index: -1;
    .wrapper {
      width: 100%;
      height: 100vh;
      .slick {
        .slick-item {
          img{
            margin: 0 auto;
            width: 100%;
          }
        }
      }

      .breakers {
        background-image: url("../img/breaker_1.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        top: -125px;
        p {
          font-size: 24px;
          color: white;
        }
        h1 {
          font-size: 30px;
          color: #19276D;
        }
      }
    }
  }
}
