body {
  .video {
    margin-top: 470px;
    .wrapper{
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      video{

      }
      img.focate{
        position: absolute;
        top: -40px;
        left: 0px;
      }
      img.btn {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        }
      }
    }
  }
